<!DOCTYPE html>
<html>
<head>

    <!-- Meta -->
    <meta charset="utf-8">
    <title>Node-Express-Basic</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicons -->
    <link rel="icon" type="image/png" href="/img/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/img/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/img/favicon-96x96.png" sizes="96x96">

    <!-- CSS -->
    <link href="/css/style.css" rel="stylesheet" media="screen,projection">

    <!-- Facebook Open Graph -->
    <meta property="og:title" content="Node-Express-Basic">
    <meta property="og:description" content="">
    <meta property="og:image" content="/">
    <meta property="og:url" content="http://localhost:8000">

    <!-- Twitter Card -->
    <meta name="twitter:title" content="Node-Express-Basic">
    <meta name="twitter:description" content="">
    <meta name="twitter:image" content="/">
    <meta name="twitter:card" content="summary_large_image">

</head>

<body>

    {{{body}}}

    <script src="/js/main.js"></script>
</body>
</html>
